body {
  margin: 0;
  color: #222222;
  background: #EFF0EF;
}

.links {
  display: block;
  width: 100%;
  height: 2.5em;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.link {
  text-align: center;
  width: 16ch;
  background: #8CBEC1;
  text-decoration: none;
  color: #0B4F6C;
  padding: 0.2em;
}

.link:hover {
  color: #EFF0EF;
  background: #40798C;
  transition: background .25s, color .25s;
}

.highlight {
  color: #8CBEC1;
}

.highlight:hover {
  color: #40798C;
  transition: color .5s;
}

#content {
  font-size: 2.5vmin;
  font-family: sans-serif;
  margin: 0 15vw;
  padding: 2vw 2.5vw;
}

h1 {
  color: #0B4F6C;
  font-size: 5vmin;
}

#logo {
  margin-right: 2vmin;
  margin-top: 5vmin;
  margin-bottom: 5vmin;
}

@keyframes scale_from_left {
  0% {
    opacity: 0;
    transform-origin: 0 50%;
    transform: scale(0.5);
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.main-header {
  font-family: sans-serif;
  color: #222222;
  font-weight: normal;
  font-size: 8vmin;
  animation: ease-out scale_from_left 2.5s 0s;
  margin: 2vmin;
}

.first-name {
  background: #0B4F6C;
  color: #EFF0EF;
}

.last-name {
  color: #0B4F6C;
}

.first-name, .last-name {
  padding: 0 0.25ch;
}

@media only screen and (max-aspect-ratio: 4 / 3) {
  #content {
    margin: 0;
    padding: 2vw 5vw;
  }
}

header {
  background: #EFF0EF;
  padding: 0 10vmin;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-bottom: 1vmin solid #0B4F6C;
  margin-bottom: 5vmin;
  box-shadow: 0 0 1.5vmax 0.25vmax #000000;
  position: sticky;
  top: 0;
}
